body {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#top-links a {
    color: black;
    text-decoration: none;
}

#top-links a:hover {
    text-decoration: underline;
}

#wrapper {
    text-align: center;
    margin-top: 150px;
}

#search-btns {
    margin: 25px 0;
}

#search-btns button {
    padding: 10px;
    background: #f1f1f1;
    border: 0;
    font-size: 14px;
    color: gray;
    border-radius: 3px;
    cursor: pointer;
}

#wrapper input {
    border: none;
    width: 447px;
    height: 42px;
    outline: none;
}

#search-text-wrapper {
    border: 1px solid #dfe1e5;
    width: 520px;
    margin: 0 auto;
    height: 44px;
    border-radius: 24px;
}

#translations a {
    text-decoration: none;
}

#translations a:hover {
    text-decoration: underline;
}
